.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__column-link:hover {
  transition: opacity 0.85s;
  opacity: 0.3;
}
