.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
}

.logo_place_header {
  background-image: url(../images/logo_place_header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
  margin-left: 64px;
}

.header__subtitle {
  width: 388px;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  position: absolute;
  bottom: 0;
  left: 64px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main_illustration {
  position: absolute;
  bottom: 0;
  right: 0;

  background-image: url(../images/header-image.png);
  background-size: cover;
  background-repeat: no-repeat;

  width: 765px;
  height: 608px;

  z-index: 1;
}
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
}

.two-columns {
  display: flex;
  justify-content: space-between;

  width: 80%;
  margin: 100px auto 70px;
}

.two-columns__brief {
  width: 175px;

  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;

  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin: 30px 0;
}

.two-columns__span-accent {
  font-size: 24px;
  line-height: 34px;
  font-weight: bold;
}

.digits {
  padding: 100px 0;
}

.section-title {
  margin: 0 auto 20px;
  width: 60%;

  font-size: 60px;
  line-height: 1.15;
  font-weight: bold;
  text-align: center;
}

.section-subtitle {
  margin: 0 auto 60px;
  width: 60%;

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  text-align: center;
}

.table {
  width: 1100px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__headeing {
  font-size: 24px;
  line-height: 1.15;
  font-weight: bold;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  font-weight: normal;
}

.table__text_undertext {
  /*в брифе про отступ "Всмеирного Банка" не было никакой информации и как его сделать*/
  margin-top: 20px; /*я не знал чем сделать, чтоб вызвало меньше вопросов: <br> или отдельный класс*/
  font-size: 18px; /*но классу хотя б контролируемый отступ можно задать*/
  line-height: 1.2;
  font-weight: normal;
}

.feynman {
  height: 890px;
  background-color: #f2f2f2;
  position: relative;
}

.feynman__img {
  width: 867px;
  height: 637px;

  background-image: url(../images/feynman.png);
  background-size: cover;
  background-repeat: no-repeat;

  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__title {
  text-align: center;
  font-size: 120px;
  line-height: 1.15;
  font-weight: bold;

  width: 648px;
  margin: 0 auto;
  padding: 100px 0 70px;
  position: relative;
  z-index: 1;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;
  text-align: center;

  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.feynman__link {
  font-size: 36px;
  line-height: 51px;
  font-weight: normal;

  text-decoration: none;
  color: #2f80ed;

  position: absolute;
  right: 48px;
  top: 50%;

  z-index: 1;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
  padding: 100px 0;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  background-repeat: no-repeat;

  width: 877px;
  height: 877px;

  position: absolute;
  top: 0;
  right: -210px;
}

.section-title_theme_dark {
  color: white;
  padding: 0 0 20px 0;
  position: relative;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  position: relative;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;

  position: relative;
  z-index: 1;
}

.footer {
  box-sizing: border-box;
  background-color: #1f1f1f;
  min-height: 350px;
  padding: 60px 0 40px;
  display: flex;
}

.footer__columns {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

.footer__columns_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__author {
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  color: white;

  padding: 18px 0;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  color: white;
  padding-bottom: 20px;
  margin: 0 0;
}

.footer__unordered-list {
  padding: 0;
  margin: 0;
}

.footer__list-item {
  list-style-type: none;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social_icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
